@font-face {
	/*!md:{"preload":true}*/
	font-family: 'Bitter';
	src: url('#{'../font/Bitter-VariableFont_wght.ttf'}') format('truetype');
	font-weight: 100 1000;
	font-style: normal;
	font-display: swap;
}

@font-face {
	/*!md:{"preload":true}*/
	font-family: 'Poppins';
	src: url('#{'../font/Poppins-Regular.ttf'}') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: Poppins, sans-serif;
	color: red;
	font-size: 16px;

	@media (min-width: 38em) {
		color: blue;
	}
}

div.image {
	aspect-ratio: 2 / 1;
	background: url('../img/balanin_des_noisettes.jpg') no-repeat center center;
	background-size: cover;
	max-width: 100%;
	width: 20em;
}

h1 {
	font-family: 'Bitter', sans-serif;
	color: #777;
}

@media print {
	body {
		background: white;
	}
}

